<header class="header">
    <%= link_to image_tag("monbo1.png", class:"monbo"), "#" %>
    <h1>チャット<span>一覧</span></h1>
</header>  
<div class="main">
        <%= render  "share/side_bar" %>

        <div class="mainArea" id="mainArea">
            <div class="mainBigArea">
            
            
            </div>
          
        </div>
 
</div>